# Virtual Environments
venv/
samudrika/venv/
.venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating System Files
.DS_Store
Thumbs.db

# Databases
*.db
samudrika/*.db

# IDEs/Editors
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.*

